
.navbar{
  display: flex;
  margin-top: 10px;
}
.header{
  display: flex;
  
}
.header a{
  margin-right: 20px;
  text-decoration: none;
  color: black;
  margin-left: 30px;
  font-size: 22px;
  }
  .signout{
    border: none;
    background-color:white;
    color:rgb(57, 109, 255);
    font-size: 22px;
   
  }