
.navbar{
  display: flex;
  justify-content: space-around;
  background-color: #6047ec;
  position: sticky;
  top: 0px;
  z-index: 1;
  box-sizing: content-box;
}
.name{
  color:wheat;
  font-size: 25px;
 margin-top: 5px;
}
.header{
  display: flex;

}

.header a{
  margin-right: 20px;
  text-decoration: none;
  color: white;
  margin-left: 30px;
  font-size: 22px;
  }
  .signout{
    border: none;
    background-color:#6047ec;
    color:white;
    font-size: 22px;
   
  }


  /* //   responsive  // */
  @media (max-width:450px){
    .header{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      
    }
    
    .navbar{

position: relative;
    }

    .name{
      display: none;
    }
    .header a{
      /* margin-left: 5px; */
      font-size: 22px;
      }
      .signout{
        border: none;
        background-color:#6047ec;
        color:white;
        font-size: 22px;
       
      }
  }