.reviews{
display: grid;
grid-template-columns: repeat(3,1fr);

}

.review{
border: 1px solid blue;
width: 300px;
margin: 10px;
padding: 10px;
text-align: center;
border-radius:20px ;
margin-bottom: 40px;
}
.review img{
width: 220px;
border-radius: 15px;
}

/* //   responsive  // */
@media (max-width:450px){
  .reviews{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
    }
    .review img{
      width: 200px;
    }
}

@media(min-width:460px)and (max-width:750px){
  .reviews{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    }
    .review{
      max-width:650px;
      min-width:320px;
     padding:5px;
    }
  
}