.reviews{
display: grid;
grid-template-columns: repeat(3,1fr);

}

.review{
border: 1px solid blue;
margin: 10px;
padding: 10px;
text-align: center;
border-radius:20px ;
margin-bottom: 40px;
}
.review img{
width: 300px;
border-radius: 15px;
}

/* //   responsive  // */
@media(min-width:350px)and (max-width:680px){
  .reviews{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
    }
    .review{
      max-width:650px;
      min-width:320px;
     padding:5px;
    }
  
}