.bundle{
  border: 1px solid wheat;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  text-align: center;

}
.bundle img{
  width: 400px;
  height: 300px;
 border-radius: 10px;
 justify-content: center;
 align-items: center;
}
.bundle-info{
margin-top: 10px;
justify-content: center;
align-items: center;
}
.booking{
  text-decoration: none;
  
}


/* //  responsive  // */

@media(min-width:350px)and (max-width:680px){
  .bundle{
    min-width: 320px;
        /* height: 570px ; */
        padding:0px;
        margin-left:10px;
  }
  .bundle img{
    padding-top: 5px;
    width: 250px;
    /* max-height: 350px; */
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
}

