.carosel{
  
  height: 650px;
  padding: 5px;
  z-index: 2;
  margin:10px 10px 5px 5px;
}
.bundles{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 35px;
  margin-bottom: 20px;
}


/* //   responsive  // */
@media(max-width:576px){
  .carosel{
    width: 550px;
  margin-left: 0px;
  
  }
  .bundles{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   margin: auto;
   overflow-x: none;
  }
  
}