.carosel{
  max-height:450px;
  max-width: 1250px;
  padding: 10px;
  z-index: 2;
  margin:5px 5px 5px 5px;
  border-radius: 20px;
}

.carosel img{
 
  max-height:400px;
  border-radius: 20px;
 }

.bundles{
  /* display: grid;
  grid-template-columns: repeat(3,1fr); */
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left:10px;
}
h3{
  color:rgb(6, 254, 130);
}


/* //   ✔ responsive👍   // */

@media (max-width:450px){
  .carosel{
    margin-left: 0px;
height:310px;
width: 320px;
  }
  .carosel img{
 height: 305px;
 width: 310px;
  }
}

@media(min-width:460px)and (max-width:750px){
  .carosel{
    min-width: 355px;
    max-height:400px ;
   margin-left: 0px;
  
}
 
  
}




