.carosel{
  
  height: 650px;
  padding: 5px;
  z-index: 2;
  margin:10px 10px 5px 5px;
}
.bundles{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 35px;
  margin-bottom: 20px;
}
h3{
  color:rgb(6, 254, 130);
}


/* //   ✔ responsive👍   // */

@media(min-width:350px)and (max-width:680px){
  .carosel{
    min-width: 355px;
    max-height:400px ;
   margin-left: 0px;
  
}
  .bundles{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   margin: auto;
   
  }
  
}